textarea {
     display: block;
     height: 3rem;
     width: 50%;
     padding: 1rem;
     margin: 1rem auto;
     border: 2px solid black;
}

button {
     display: block;
     height: 2rem;
     width: 5rem;
     margin: auto;
}

#output {
     height: 3rem;
     width: 50%;
     padding: 1rem;
     margin: 1rem auto;
     border: 2px solid black;
}